@model List<EventBookingSystem.Models.Order>
<h2>
    <a href="/Order/Create"><input type="button" value="Add Order" class="btn btn-primary" /></a>
</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Created On</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Total</th>
            <th>Tip</th>
            <th>Net Amount</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Ebs in Model)
        {
            <tr>
                <td>@Ebs.Id</td>
                <td>@Ebs.CreatedDate.ToString("dd/MMM/yyyy HH:mm")</td>
                <td>@Ebs.StartDate.</td>
                <td>@Ebs.EndDate.</td>
                <td>@Ebs.Total</td>
                <td>@Ebs.Tip</td>
                <td>@Ebs.NetAmount</td>
                <td>
                    <a href="/Order/Edit?Id=@Ebs.Id"><input type="button" value="Edit" class="btn  btn-primary" /></a>
                    <a href="/Order/Delete?Id=@Ebs.Id"><input type="button" value="Delete" class="btn btn-danger" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>