@model List<EventBookingSystem.Models.User>

<table class="table table-responsive table-border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Vendor</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Ebs in Model)
        {
            <tr>
                <td>@Ebs.Name</td>
                <td>@Ebs.Phone</td>
                <td>@Ebs.Email</td>
                <td>@Ebs.Address</td>
                <td>@(Ebs.Vendor == true ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>